{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
     
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="{% static 'media/Irerero.png' %}" alt="">
            </div>

            <span class="logo_name">Irerero</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-book-reader"></i>
                    <span class="link-name">Classes</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Children</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-user-nurse"></i>
                    <span class="link-name">Teachers</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-user-plus"></i>
                    <span class="link-name">Parents</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-calendar-alt"></i>
                    <span class="link-name">Attendance Records</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-heart-medical"></i>
                    <span class="link-name">Health Metrics</span>
                </a></li>
            </ul>
            
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    

                
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
           
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes"style="gap: 20px">
                    <div class="box box1">
                        <i class="uil uil-books"></i>
                        <span class="text">Total Classes</span>
                        <span class="number">{{total_classes}}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Total Children</span>
                        <span class="number">{{total_children}}</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-user"></i>
                        <span class="text">Total Parents</span>
                        <span class="number">{{total_parents}}</span>
                    </div>
                </div>
                <div class="activity">
                    <div class="title">
                        <i class="uil uil-clock-three"></i>
                        <span class="text">Recent Children</span>
                    </div>
                
                    <div class="activity-data">
                        <div class="data names">
                            <span class="data-title">Name</span>
                            {% for child in recent_children %}
                                <span class="data-list">{{ child.name }}</span>
                            {% empty %}
                                <span class="data-list">No children available</span>
                            {% endfor %}
                        </div>
                
                        <div class="data email">
                            <span class="data-title">Guardian</span>
                            {% for child in recent_children %}
                                <span class="data-list">{{ child.guardian.email }}</span>
                            {% empty %}
                                <span class="data-list">No guardian available</span>
                            {% endfor %}
                        </div>
                
                        <div class="data joined">
                            <span class="data-title">DOB</span>
                            {% for child in recent_children %}
                                <span class="data-list">{{ child.Dob }}</span>
                            {% empty %}
                                <span class="data-list">No DOB available</span>
                            {% endfor %}
                        </div>
                
                        <div class="data type">
                            <span class="data-title">Age</span>
                            {% for child in recent_children %}
                                <span class="data-list">{{ child.age }}</span>
                            {% empty %}
                                <span class="data-list">No age available</span>
                            {% endfor %}
                        </div>
                
                        <div class="data status">
                            <span class="data-title">Status</span>
                            {% for child in recent_children %}
                                <span class="data-list">Active</span>  <!-- You can add dynamic status here -->
                            {% empty %}
                                <span class="data-list">No status available</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
            </div>

           
        </div>
    </section>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>